<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>[TITULO] - SymfoCine</title>
		<link rel="stylesheet" type="text/css" href="/reset.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<div id="top">
			<h1>
				<a href="/demo">SymfoCine</a>
			</h1>
		</div>
		<div id="cabecera">
			<div id="cabecera_inner">Cine de [GENERO]</div>
		</div>
		<div id="contenedor">
			<h2>[TITULO]</h2>
			<div class="ficha">
				<div class="lateral">
					<img src="/images/ID.jpg"/>
				</div>
				<h3>Información</h3>
				<ul>
					<li><strong>Pais:</strong> [PAIS]</li>
					<li><strong>Director:</strong> [DIRECTOR]</li>
					<li><strong>Fecha de estreno:</strong> [FECHA DE ESTRENO]</li>
					<li><strong>Sinopsis:</strong> [SINOPSIS]</li>
				</ul>
			</div>
		</div>

	</body>
</html>
