<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SymfoCine</title>
		<link rel="stylesheet" type="text/css" href="/reset.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<div id="top">
			<h1>
				<a href="/demo">SymfoCine</a>
			</h1>
		</div>
		<div id="cabecera">
			<div id="cabecera_inner">Últimos estrenos</div>
		</div>
		<div id="contenedor">
			<h2>Bienvenidos</h2>
			<p>Actualmente disponemos de las siguientes películas en cartelera:</p>
			<ul class="listaPeliculas">
				<li class="peliculaItem">
					<a href="/demo/peliculas/ficha/ID">
						<img src="/images/ID.jpg"/>
						<span>[TITULO]</span>
					</a>
				</li>
				<li class="peliculaItem">
					<a href="/demo/peliculas/ficha/ID">
						<img src="/images/ID.jpg"/>
						<span>TITULO</span>
					</a>
				</li>
				<li class="peliculaItem">
					<a href="/demo/peliculas/ficha/ID">
						<img src="/images/ID.jpg"/>
						<span>TITULO</span>
					</a>
				</li>
				<li class="peliculaItem">
					<a href="/demo/peliculas/ficha/ID">
						<img src="/images/ID.jpg"/>
						<span>TITULO</span>
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>
